[submodule "plugins/WP-Infusion-Masonry-Posts"]
	path = plugins/WP-Infusion-Masonry-Posts
	url = https://github.com/tareiking/WP-Infusion-Masonry-Posts
[submodule "plugins/WP-Infusion-Unslider"]
	path = plugins/WP-Infusion-Unslider
	url = https://github.com/tareiking/WP-Infusion-Unslider
[submodule "plugins/WP-Infusion-Recent-Posts"]
	path = plugins/WP-Infusion-Recent-Posts
	url = https://github.com/tareiking/WP-Infusion-Recent-Posts
[submodule "themes/WP-Infusion-Flair-Theme"]
	path = themes/WP-Infusion-Flair-Theme
	url = https://github.com/tareiking/WP-Infusion-Flair-Theme
[submodule "plugins/pico-slider"]
	path = plugins/pico-slider
	url = http://github.com/sennza/pico-slider/
